.text-center {
    text-align: center;
}

.main-container {
    margin: 50px 100px;
}

.card-container {
    display: flex;
}

.card-container>*,
.card>* {
    flex: 1;
    margin: 50px;
}

.lime {
    background-color: rgb(220, 255, 167);
}

.n-lime {
    background-color: rgb(255, 167, 167);
}

.percent {
    font-size: 100px;
}

.nav-item:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.nav-item:active {
    transform: scale(0.80);
    transition: 0.05s;
}